@{
    ViewData["Title"] = "Signup";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Registration Page (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a asp-controller="Home" asp-action="Index" class="h1"><b>Buzz</b>Talk</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form action="../../index.html" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="User ID">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Retype password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <a class="btn btn-outline-secondary d-block" asp-controller="Home" asp-action="Index">Cancel</a>
                        </div>
                        <div class="col-7">
                            <button type="submit" class="btn btn-warning btn-block">Next</button>
                        </div>
                    </div>
                </form>

                <hr class="grey-line px-2 mb-3 mt-4" />
                <div class="form-group row d-flex justify-content-center">
                    <p class="m-0 p-0" style="color:#c2c7d0;">or</p>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <div class="col-2 d-flex justify-content-center">
                        <img src="~/img/kakaotalk_icon_circle.png" />
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <img src="~/img/naver_icon_circle.png" />
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <img src="~/img/instagram_icon_circle.png" />
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <img src="~/img/facebook_icon_circle.png" />
                    </div>
                </div>
                <p class="text-center p-0" style="color:#c2c7d0;">Signup with sns</p>

                <hr class="grey-line px-2 mb-3 mt-4" />
                <a href="login.html" class="text-center d-block">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
</body>
</html>

